{% extends 'base.html.twig' %}
{% block body %}
<!DOCTYPE html>
<div>
    <h2><b>Agera e-handel</b></h2>
    <h3>Antal artiklar: {{ numberOfProducts }}</h3>
    <h3>Lägsta pris: {{ lowestPrice }}</h3>
    <h3>Högsta pris: {{ maxPrice }}</h3>
</div>
{% endblock %}
/home/chsr19/.ssh/id_ed25519.pub
